{% extends 'base.html' %}

{% block header %}
  <h1 class="text-2xl">{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a href="{{ url_for('blog.create') }}" class="ml-auto">
      <button class="inline-flex items-center bg-gray-200 border-0 shadow-md py-1 px-3 focus:outline-none hover:bg-green-300 hover:shadow-lg hover:shadow-green-300 rounded text-base mt-4 md:mt-0">
        <i class="fa-solid fa-file-circle-plus mr-1"></i>
        New
      </button>
    </a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="container flex flex-col my-5">
      <header  class="flex flex-row items-baseline mb-2">
        <h1 class="text-xl">{{ post['title'] }}</h1>
        <div class="ml-auto"><i class="fa-solid fa-sm fa-user-pen mr-1"></i>{{ post['username'] }}</div>
        <div class="ml-4"><i class="fa-solid fa-sm fa-calendar-days mr-1"></i>{{ post['created'].strftime('%Y-%m-%d') }}</div>
        {% if g.user['id'] == post['author_id'] %}
        <a href="{{ url_for('blog.update', id=post['id']) }}" class="ml-4">
          <button class="inline-flex items-center bg-gray-200 shadow-md border-0 py-1 px-3 focus:outline-none hover:bg-indigo-300 hover:shadow-lg hover:shadow-indigo-300 rounded text-base mt-4 md:mt-0">
            <i class="fa-solid fa-file-pen mr-1"></i>
            Edit
          </button>
        </a>
        {% endif %}
      </header>
      <p>{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}